#color-menu {
	position: fixed;
	z-index: 99;
	top: -6px;
	left: 0;
	button {
		width: 	30px;
		height: 30px;
		border: 2px solid lightgray;
		/* outline: 1px solid white; */
		border-radius: 3px;
		cursor: -webkit-grab;
		&:active {
			cursor: -webkit-grabbing;
		}
	}
}