.default {
	h2 + p { margin-top:0;  }
	strong { font-weight:normal; }
	li { font-family: $bodyfont; }
	h2 + p {  margin-top:0;  }
	strong {font-weight:normal; }
	/* width:560px; */
	#title { margin-bottom:0;}
}

.notes {
	/* max-width:560px; */
}

.main, .notes {
	#title, #content {
		max-width:560px;
	}
}