.default {
	h2 + p { margin-top:0;  }
	strong { font-weight:normal; }
	li { font-family: $body-font; }
	h2 + p {  margin-top:0;  }
	strong {font-weight:normal; }
	/* width:560px; */
	#title { margin-bottom:0;}
}

.notes {
	/* max-width:560px; */
	ol > li {
		margin-bottom: 1em;
	}
}

.main, .notes {
	#title, #content {
		max-width:560px;
	}
}

.side-by-side {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}