body {
	font-family: $body-font;
	line-height:1.45;
	background:aliceblue;
}

body, html { height: 100%; }

* {box-sizing: border-box;}
.key {color:#3E5F7B;}
.karla { font-family: "Karla", Helvetica, Arial, sans-serif; }

#container {
	min-width: 320px;
}

code {
	/* background:white; */
	/* padding:0 .25em; */
/* 	border-radius: 0.15em; */
	font-family: $code-font;
	color:black;
}

note { color: $note; } // i made up this tag
pre { 
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size:4; 
	code { background: white; }
}

hl { color: $highlight; } // also made this one up, stands for highlight
bg { background: $highlight; }
c { color:blue; } // this is for the console in code examples
c::after { content: "> "; }
.error { color: red; }

.ace-preview, .ace-close {
	font-family: $code-font;
	background: lightgray;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 1em;
}
.ace-preview:active, .ace-close:active {
	border-color: $note;
}
.ace-preview:focus, .ace-close:focus {
	outline:none;
}

iframe.sketch {
	overflow:hidden;
}

a, a:visited {
	color: darkblue;
	transition: color 300ms;
}
a:hover { 
	color: $hover;
	text-decoration:underline; 
}
em, strong { 
	color: $strong; 
	font-family: $header-font;
}

.wrap { white-space: pre-wrap; }

img.floated {
	margin: 1em;
	float:left;			
} // not sure if i still use these....

video { max-width:100%; }
div.floated { float:left; }

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

table {
	width:100%;
	border-collapse: collapse;
	margin: 1em 0;
	td, th {
	  	border: 1px dotted;
	  	text-align: left;
		padding: .25em;
		margin:.25em;
	}
	&.code {
		background: white;
		margin: 0;
		font-family: $code-font;
		color: black;
	}
}

blockquote {
	background: white;
	padding: 1em;
	margin:0;
	margin-left: 0.25em;
	box-shadow: -0.25em 0.25em 0 $highlight;
	font-family: "Karla", Helvetica, Arial, sans-serif;
	a { font-size: 0.75em;  }
}

a[name], a[name]:hover {
	color:inherit;
	text-decoration: inherit;
}

#slidesBtn {
	position: fixed;
	top:10px;
	right:60px;
	width:50px;
	border-radius-right-top:0px;
}
#outlineBtn {
	position: fixed;
	top:10px;
	right:10px;
	width:50px;
}



canvas#bkg {
	overflow: hidden;
	position:fixed;
	top:0;
	left:0;
	z-index:-99;
}

canvas.loaded {
	position:relative;
	z-index:1;
	margin-top:1em;
}

canvas.drawing {
	position:absolute;
	top:0;
	left:0;
}