@media only screen and (max-width: 800px) {
	.main, .notes  {
		#title, #content {
			margin:1em auto;
		}
	}
	.outline {
		
		width: 100%;
		margin-top: 0;
		
		.slide { margin: 1em auto; }
		
		#title { 
			margin: 0 auto; 
			margin-top: 2em;
		}

		#menu {
			position: static;
			width: 100%;
			
			margin: 0 auto;
			li {
				margin-right:0.5em;
				display:inline-block;
			}
			h3{
				display: inline-block;
			}
		}

		#content {
			margin-left: 0;
		}
	}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.slides {
		font-size:2em;
		pre { font-size: 0.75em; }
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.slides {
		font-size:2.5em;
	}
}
@media only screen and (min-width: 1441px) {
	.slides {
		font-size:3em;
	}
}