.slides {
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	height:100%;
	font-size: 32px;
	color:white;
	font-family:  $slide-font;
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pre, code {
		-webkit-user-select: text;
		-moz-user-select: text;
		user-select: text;
	}
	em, strong { 
		font-family: $slide-font; 
		/* color: $em; */
	}
	a em { color:darkblue; }
	/* code {color:black;} */
	img + img { margin-top:1em; }

	/* wtf figure out later */
	pre { 
		code {
			border: 1px solid lightgray;
			padding-left:8px;
			border-left: 3px solid $highlight;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.key {
		color:black;
		font-size:1.75em;
		display:inline-block;
		padding:0.25em;
		border-radius: 0.1em;
	}

	h1 {
		margin:0;
		text-align: center;
	}

	h2 { 
		margin: .41em 0; 
		text-decoration: underline; 
		a { display:none; }
	}
	p { margin: 1em 0; }
	hl { color: $highlight; };
	note, code, em {
		background-color: white;
		padding: 2px 4px;
		border-radius: 3px;
	}
	
	.slide {
		position:relative;
		&#title {
			p { text-align: center; }
		}
		width:100%;
		&.long {
			min-height:100%;
			height:auto;
		}
		padding:2%;
		border-bottom:1px solid white;
		img {
			max-height: 90%;
			max-width:100%;
			display:block;
			&.fit { height:100%; }
			&.centered { margin:0 auto; }
			&.floated {
				margin: 1em;
				float:left;			
			}
			&.full { width:600px; }
			&.half { width: 45%; }
		}
		p.label { font-size: 0.5em; font-style:italic;  }
		blockquote { color: black; }

		.ace_editor {
			/* max-width: 50%; */
			zoom: 1.5;
		}
		.ace_canvas, .p5Canvas {
			position: absolute;
			top: 200px;
			right: 0;
			outline: 1px solid #9b26ff;
			z-index:99;
		}

		.reveal {
			opacity: 0;
			transition: opacity 300ms;
		}

		.show {
			opacity: 1;
			transition: opacity 300ms;
		}
	}
	.utube {
		margin-top:0;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.drawing {
		z-index:99;
		cursor: url('../img/pencil.ico'), crosshair;
	}

	#menu { 
		display: none; 
		&.show-menu {
			display: block;
			z-index: 9;
			width: auto;
			padding: 0.25em;
			margin-right: 4em;
			h3, p {
				display: none;
			}
			li {
				display: inline-block;
				margin-right: 0.5em;
				font-size: 18px;
				line-height: 1;
			}
		}

	}
}