@import url(fonts/key.css);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
body {
  font-family: "Lora", serif;
  line-height: 1.45;
  background: aliceblue; }

body, html {
  height: 100%; }

* {
  box-sizing: border-box; }

.key {
  color: #3E5F7B; }

.karla {
  font-family: "Karla", Helvetica, Arial, sans-serif; }

code {
  /* background:white; */
  /* padding:0 .25em; */
  /* 	border-radius: 0.15em; */
  font-family: Menlo, Monaco, monospace;
  color: black; }

note {
  color: #9b26ff; }

pre {
  word-wrap: break-word;
  tab-size: 4; }
  pre code {
    background: white; }

hl {
  color: #5DD8C8; }

bg {
  background: #5DD8C8; }

c {
  color: blue; }

c::after {
  content: "> "; }

.error {
  color: red; }

.ace-preview, .ace-close {
  font-family: menlo;
  background: lightgray;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 1em; }

.ace-preview:active, .ace-close:active {
  border-color: #9b26ff; }

.ace-preview:focus, .ace-close:focus {
  outline: none; }

a, a:visited {
  color: darkblue;
  transition: color 300ms; }

a:hover {
  color: #3BE0CB;
  text-decoration: underline; }

em, strong {
  color: #2480d2;
  font-family: "Karla", Helvetica, Arial, sans-serif; }

.wrap {
  white-space: pre-wrap; }

img.floated {
  margin: 1em;
  float: left; }

video {
  max-width: 100%; }

div.floated {
  float: left; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0; }
  table td, table th {
    border: 1px dotted;
    text-align: left;
    padding: .25em;
    margin: .25em; }

blockquote {
  background: white;
  padding: 1em;
  margin: 0;
  box-shadow: -0.25em 0.25em 0 #5DD8C8;
  font-family: "Karla", Helvetica, Arial, sans-serif; }
  blockquote a {
    font-size: 0.75em; }

a[name], a[name]:hover {
  color: inherit;
  text-decoration: inherit; }

#slidesBtn {
  position: fixed;
  top: 10px;
  right: 60px;
  width: 50px;
  border-radius-right-top: 0px; }

#outlineBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px; }

canvas#bkg {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99; }

canvas.loaded {
  position: relative;
  z-index: 1;
  margin-top: 1em; }

canvas.drawing {
  position: absolute;
  top: 0;
  left: 0; }

.outline {
  max-width: 960px;
  font-size: 18px;
  line-height: 1.4;
  margin: 2em auto;
  /* code, pre, .note { font-size:1.1em; } */ }
  .outline .slide {
    margin: 1em 0;
    clear: both;
    max-width: 640px; }
    .outline .slide p {
      max-width: 560px;
      /* margin-left: 1rem; */
      font-size: 20px;
      line-height: 1.5; }
  .outline #title {
    font-family: "Karla", Helvetica, Arial, sans-serif;
    /* margin: 6em 0; */
    border-bottom: 1px solid #5DD8C8; }
    .outline #title h1 {
      margin: 0;
      padding: 0;
      border: none; }
    .outline #title p {
      margin: 0.5em 0;
      font-size: 1em;
      font-family: "Karla", Helvetica, Arial, sans-serif; }
  .outline #content {
    margin-left: calc(200px + 2em); }
  .outline p, .outline li {
    font-family: "Lora", serif; }
  .outline p.label {
    font-size: 0.75em; }
  .outline note, .outline a {
    font-family: "Karla", Helvetica, Arial, sans-serif; }
  .outline code {
    /* background:white;
    border: 1px solid lightgray; */ }
  .outline pre {
    font-size: 16px; }
    .outline pre code {
      border: none;
      padding-left: 8px;
      border-left: 3px solid #5DD8C8;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .outline p code {
    color: #2480d2;
    white-space: nowrap; }
  .outline li code {
    color: #2480d2; }
  .outline a, .outline a:visited {
    color: blue;
    text-decoration: underline; }
  .outline a:hover {
    color: #3BE0CB; }
  .outline a em {
    color: blue; }
  .outline h1 {
    border-bottom: 1px solid #5DD8C8;
    font-family: "Karla", Helvetica, Arial, sans-serif; }
  .outline h2, .outline h3 {
    font-family: "Karla", Helvetica, Arial, sans-serif;
    margin-bottom: 0; }
  .outline h2 {
    margin-top: 2em; }
    .outline h2 a, .outline h2 a:visited {
      text-decoration: none;
      padding: 0 0.5em;
      color: #D1E5F7;
      font-size: 0.8em;
      position: relative;
      top: -4px;
      font-style: oblique; }
    .outline h2 a:hover {
      color: #5DD8C8; }
  .outline img {
    max-width: 100%; }
  .outline .utube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .outline .utube iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .outline canvas {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: block; }
  .outline table th {
    border-color: black;
    color: #9b26ff; }

#menu {
  position: fixed;
  font-family: "Karla", Helvetica, Arial, sans-serif;
  width: 200px;
  font-size: 0.9em;
  padding: 1em;
  /* padding-top:2em; */
  background: white;
  /* p { margin: 0; } */
  /* 	li::before {
  		content: "~";
  		margin-right:0.25em;
  	} */ }
  #menu ul {
    padding: 0;
    list-style-type: none;
    margin: 0; }
  #menu li, #menu p {
    font-family: inherit;
    font-size: 14px; }
  #menu li {
    line-height: 1.4; }
    #menu li:hover {
      background: #b6d6f2; }
  #menu hr {
    border-top: none;
    border-bottom: 1px solid #5DD8C8; }

.slides {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-size: 32px;
  color: white;
  font-family: "Karla", Helvetica, Arial, sans-serif;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* code {color:black;} */
  /* wtf figure out later */ }
  .slides pre, .slides code {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text; }
  .slides em, .slides strong {
    font-family: "Karla", Helvetica, Arial, sans-serif;
    /* color: $em; */ }
  .slides a em {
    color: darkblue; }
  .slides img + img {
    margin-top: 1em; }
  .slides pre code {
    border: 1px solid lightgray;
    padding-left: 8px;
    border-left: 3px solid #5DD8C8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .slides .key {
    color: black;
    font-size: 1.75em;
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.1em; }
  .slides h1 {
    margin: 0;
    text-align: center; }
  .slides h2 {
    margin: .41em 0;
    text-decoration: underline; }
    .slides h2 a {
      display: none; }
  .slides p {
    margin: 1em 0; }
  .slides hl {
    color: #5DD8C8; }
  .slides note, .slides code, .slides em {
    background-color: white;
    padding: 2px 4px;
    border-radius: 3px; }
  .slides .slide {
    position: relative;
    width: 100%;
    padding: 2%;
    border-bottom: 1px solid white; }
    .slides .slide#title p {
      text-align: center; }
    .slides .slide.long {
      min-height: 100%;
      height: auto; }
    .slides .slide img {
      max-height: 90%;
      max-width: 100%;
      display: block; }
      .slides .slide img.fit {
        height: 100%; }
      .slides .slide img.centered {
        margin: 0 auto; }
      .slides .slide img.floated {
        margin: 1em;
        float: left; }
      .slides .slide img.full {
        width: 600px; }
      .slides .slide img.half {
        width: 45%; }
    .slides .slide p.label {
      font-size: 0.5em;
      font-style: italic; }
    .slides .slide blockquote {
      color: black; }
    .slides .slide .ace_editor {
      /* max-width: 50%; */
      zoom: 1.5; }
    .slides .slide .ace_canvas {
      position: absolute;
      top: 200px;
      right: 0;
      outline: 1px solid #9b26ff;
      z-index: 99; }
  .slides .utube {
    margin-top: 0;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .slides .utube iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .slides .drawing {
    z-index: 99;
    cursor: url("../img/pencil.ico"), crosshair; }
  .slides #menu {
    display: none; }

img + .mag {
  cursor: pointer;
  position: relative;
  margin-top: -30px;
  left: 2px;
  display: block;
  width: 20px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black); }
  img + .mag:hover {
    opacity: 0.5; }

#image-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(207, 218, 255, 0.975);
  z-index: 999; }
  #image-popup .img {
    position: relative; }
  #image-popup .close {
    display: block;
    cursor: pointer;
    position: relative; }
    #image-popup .close:hover {
      opacity: 0.5; }

#color-menu {
  position: fixed;
  z-index: 99;
  top: -6px;
  left: 0; }
  #color-menu button {
    width: 30px;
    height: 30px;
    border: 2px solid lightgray;
    /* outline: 1px solid white; */
    border-radius: 3px;
    cursor: -webkit-grab; }
    #color-menu button:active {
      cursor: -webkit-grabbing; }

@media only screen and (max-width: 800px) {
  .main #title, .main #content, .notes #title, .notes #content {
    margin: 1em auto; }

  .outline {
    width: 100%; }
    .outline .slide {
      margin: 1em auto; }
    .outline #title {
      margin: 0 auto;
      margin-top: 2em; }
    .outline #menu {
      position: static;
      width: 100%;
      padding-top: 1em;
      max-width: 600px;
      margin: 0 auto; }
      .outline #menu li {
        margin-right: 0.5em;
        display: inline-block; }
      .outline #menu h3 {
        display: inline-block; }
    .outline #content {
      margin-left: 0; } }
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .slides {
    font-size: 2em; } }
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .slides {
    font-size: 2.5em; } }
@media only screen and (min-width: 1441px) {
  .slides {
    font-size: 3em; } }
.default {
  /* width:560px; */ }
  .default h2 + p {
    margin-top: 0; }
  .default strong {
    font-weight: normal; }
  .default li {
    font-family: "Lora", serif; }
  .default h2 + p {
    margin-top: 0; }
  .default strong {
    font-weight: normal; }
  .default #title {
    margin-bottom: 0; }

.notes {
  /* max-width:560px; */ }

.main #title, .main #content, .notes #title, .notes #content {
  max-width: 560px; }

div[data-src] {
  color: darkred;
  font-style: italic;
  background: white; }

/*# sourceMappingURL=slides.css.map */
