@import "fonts/key.css";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);

$highlight: #5DD8C8;
$em: #D1E5F7;
$strong: #2480d2;
$hover: #3BE0CB;


@import "global";
@import "outline";
@import "slide";
@import "image-popup";
@import "color-menu";
@import "media";
@import "default";
