@import "fonts/key.css";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700);
// @import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
// @import url(https://fonts.googleapis.com/css?family=Asap);
@import url(https://fonts.googleapis.com/css?family=Arimo);

$highlight: #5DD8C8;
$em: #D1E5F7;
$note: #9b26ff;
$code: #2480d2;
$strong: #2480d2;
$hover: #3BE0CB;

// $headerfont: "Karla", Helvetica, Arial, sans-serif;
// $bodyfont: "Lora", serif;

// $headerfont:  "Asap", Helvetica, sans-serif;
// $bodyfont:  "Asap", Helvetica, sans-serif;

// fart 

$headerfont: 'Arimo','Helvetica', sans-serif;
$bodyfont: 'Arimo','Helvetica', sans-serif;

$slidefont: 'Karla', Helvetica, Arial, sans-serif;

@import "global";
@import "outline";
@import "menu";
@import "slide";
@import "image-popup";
@import "color-menu";
@import "media";
@import "layouts";
@import "drawings";