@import url(fonts/key.css);
@import url(https://fonts.googleapis.com/css?family=Karla);
@font-face {
  font-family: 'apercu';
  src: url("../slides/fonts/apercu_medium_pro.otf");
  font-weight: normal;
  font-style: normal; }
canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.45; }

body, html {
  height: 100%; }

* {
  box-sizing: border-box; }

.key {
  color: #3E5F7B; }

#slidesBtn {
  position: fixed;
  top: 10px;
  right: 60px;
  width: 50px;
  border-radius-right-top: 0px; }

#outlineBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px; }

.outline {
  width: 480px;
  margin: 2em auto; }
  .outline h1 {
    padding-top: 4em;
    border-bottom: 1px solid #5DD8C8; }
  .outline h2 {
    padding-top: 2em; }
  .outline img {
    max-width: 100%; }
  .outline code, .outline pre, .outline .note {
    font-size: 1.1em; }
  .outline .slide:first-child {
    font-family: "apercu", "Karla", Helvetica, Arial, sans-serif;
    margin: 8em 0;
    border-bottom: 1px solid #5DD8C8; }
    .outline .slide:first-child h1 {
      margin: 0;
      padding: 0;
      border: none; }
    .outline .slide:first-child p {
      margin: 0.5em 0;
      font-size: 1em; }

code {
  background: rgba(249, 249, 249, 0.85);
  padding: 0 .25em;
  border-radius: 0.15em;
  color: darkblue; }

note {
  color: blue; }

pre {
  word-wrap: break-word; }

hl {
  color: #5DD8C8; }

c {
  color: blue; }

c::after {
  content: "> "; }

a, a:visited {
  color: darkblue;
  text-decoration: none; }

a:hover {
  color: #3BE0CB;
  text-decoration: underline; }

.wrap {
  white-space: pre-wrap; }

img.floated {
  margin: 1em;
  float: left; }

div.floated {
  float: left; }

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0; }
  table td, table th {
    border: 1px dotted;
    text-align: left;
    padding: .25em;
    margin: .25em; }

.slides {
  width: 100%;
  height: 100%;
  font-size: 28px;
  color: white;
  font-family: "apercu", "Karla", Helvetica, Arial, sans-serif;
  position: relative; }
  .slides .key {
    color: black;
    background-color: white;
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.1em; }
  .slides h1 {
    margin: 0;
    text-align: center;
    /* padding: 13%; */ }
  .slides h2 {
    margin: .41em 0;
    text-decoration: underline; }
  .slides p {
    margin: .4em 0; }
  .slides hl {
    color: #5DD8C8; }
  .slides .slide {
    width: 100%;
    /* height:100%; */
    padding: 2%;
    border-bottom: 1px solid white; }
    .slides .slide:first-child p {
      text-align: center; }
    .slides .slide.long {
      min-height: 100%;
      height: auto; }
    .slides .slide img {
      max-height: 90%;
      max-width: 100%;
      display: block;
      margin: 0 auto; }
    .slides .slide p.label {
      text-align: center; }
    .slides .slide img.ph {
      width: 600px; }
    .slides .slide blockquote {
      background: rgba(211, 211, 211, 0.7);
      padding: 1em;
      border-radius: 0.5em; }

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .slides {
    font-size: 2em; } }
@media only screen and (min-width: 1441px) {
  .slides {
    font-size: 3em; } }

/*# sourceMappingURL=slides.css.map */
