@import "fonts/key.css";
@import "fonts/apc";
@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
$highlight: #5DD8C8;
$apc: "apercu";
$apc-bold: "apercu-bold";
$apc-italic: "apercu-italic";
$apc-mono: "apercu-mono";
canvas {
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  z-index:-99;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	line-height:1.45;
	background:aliceblue;
}
body, html { height: 100%; }

* {box-sizing: border-box;}
.key {color:#3E5F7B;}

#slidesBtn {
	position: fixed;
	top:10px;
	right:60px;
	width:50px;
	border-radius-right-top:0px;
}
#outlineBtn {
	position: fixed;
	top:10px;
	right:10px;
	width:50px;
}


code {
	background:rgba(#f9f9f9, 0.85);
	padding:0 .25em;
	border-radius: 0.15em;
	color:darkblue;
}
note { color:blue; }
pre { word-wrap:break-word;
tab-size:4; }

hl { color: $highlight; }
c { color:blue; }
c::after { content: "> "; }
a, a:visited {
	color: darkblue;
	transition: color 300ms;
}
a:hover { 
	color: #3BE0CB;
	text-decoration:underline; 
}

.wrap { white-space: pre-wrap; }

img.floated {
	margin: 1em;
	float:left;			
}
div.floated { float:left; }

table {
	width:100%;
	border-collapse: collapse;
	margin: 1em 0;
	td, th {
	  	border: 1px dotted;
	  	text-align: left;
		padding: .25em;
		margin:.25em;
	}	
}

.outline {
	width: 560px;
	line-height: 1.5;
	margin:2em auto;
	
	pre { border-left: 3px solid $highlight;
        code {padding-left:8px;}
    }
	note { color:darkblue; }
	code { font-size: 16px; 
	background:white;}
	a, a:visited { color: blue; text-decoration: underline; }
	a:hover {  color: #3BE0CB; }
	h1 { 
		padding-top: 4em;
		border-bottom:1px solid $highlight;
		font-family: $apc, "Karla", Helvetica, Arial, sans-serif;

	}
	h2, h3 { padding-top: 2em; font-family: $apc, "Karla", Helvetica, Arial, sans-serif;}
	img {
		max-width:100%;
	}
	/* code, pre, .note { font-size:1.1em; } */
	.slide {margin:1em 0;
		clear:both;}
	.slide:first-child {
		h1 { margin: 0; padding:0; border:none; }
		font-family: $apc, "Karla", Helvetica, Arial, sans-serif;
		margin: 8em 0;
		border-bottom:1px solid $highlight;
		p { 
			margin: 0.5em 0;
			font-size: 1em;
			font-family: $apc, "Karla", Helvetica, Arial, sans-serif;
		}
	}
	p, li {font-family: 'Lora', serif;}
	canvas { 
		position:relative;
		z-index: 1;
		overflow:visible;
	 }
}

blockquote {
	background: white;
	padding: 1em;
	margin:0;
	box-shadow: -0.25em 0.25em 0 $highlight;
	font-family: $apc, "Karla", Helvetica, Arial, sans-serif;
	a { font-size: 0.75em;  }
}

.slides {
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	height:100%;
	font-size: 28px;
	color:white;
	font-family: $apc, "Karla", Helvetica, Arial, sans-serif;
	position:relative;
	em { font-family: $apc-italic, "Karla", Helvetica, Arial, sans-serif; }
	strong { font-family: $apc-bold, "Karla", Helvetica, Arial, sans-serif;
	color: #D1E5F7;}
	.key {
		color:black;
		background-color:white;
		display:inline-block;
		padding:0.25em;
		border-radius: 0.1em;
	}

	h1 {
		margin:0;
		text-align: center;
	}

	h2 { 
		margin: .41em 0; 
		text-decoration: underline; 
	}
	p { margin: .4em 0; }
	hl {color: $highlight};
	.slide {
		position:relative;
		&:first-child {
			p { text-align: center; }
		}
		width:100%;
		&.long {
			min-height:100%;
			height:auto;
		}
		padding:2%;
		border-bottom:1px solid white;
		img {
			max-height: 90%;
			max-width:100%;
			display:block;
			&.fit { height:100%; }
			&.centered { margin:0 auto; }
			&.floated {
				margin: 1em;
				float:left;			
			}
			&.full { width:600px; }
			&.half { width: 45%; }
		}
		p.label { text-align: center; }
		blockquote { color: black; }
		
	}
	.drawing {
		z-index:99;
		cursor:url('../slides/pencil.ico'), crosshair;
		position:absolute;
		top:0;
		left:0;
	}
}


.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 640px) {

}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.slides {
		font-size:1.75em;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.slides {
		font-size:2em;
	}
}
@media only screen and (min-width: 1441px) {
	.slides {
		font-size:2.5em;
	}
}