	<title>{{site.class}} ~ {% if page.week %}Week {{page.week}} ~ {% endif %}{{page.title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{site.url}}{{site.baseurl}}">
	<meta property="og:title" content="{{site.class}} ~ {% if page.week %}Week {{page.week}} ~ {% endif 	%}{{page.title}}" />
	{% if page.dek %}<meta property="og:description" content="{{page.dek}}"/> {% endif %}
	<link href="{{site.url}}{{site.baseurl}}/favicon.ico" rel="shortcut" type="image/x-icon"  sizes="32x32" />
	<link href="{{site.url}}{{site.baseurl}}/favicon.ico" rel="icon" type="image/x-icon"  sizes="32x32" />