@font-face {
  font-family: 'apercu';
  src: url('../slides/fonts/apercu_medium_pro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-bold';
  src: url('../slides/fonts/apercu_bold_pro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-italic';
  src: url('../slides/fonts/apercu_medium_italic_pro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-mono';
  src: url('../slides/fonts/apercu_mono_pro.otf');
  font-weight: normal;
  font-style: normal;
}