<!doctype html>
<!--  main  -->
<html>  
<head>  
	{% include meta.html %}
	{% include base.html %}
</head>  
<body>
	<div id="container" class="outline default main">
		{% include menu.html %}
		<div id="content">
			<div id="title">
				<h1>{{page.title}}</h1>
			</div>
			{{ content }}
		</div>
	</div>
	<script src="{{site.url}}{{site.baseurl}}slides/menu.js"></script>
	<script>
		// link hash helper
		window.addEventListener('load', function() {
			const hash = location.hash.split('#')[1];
			if (hash) {
				const link = document.querySelectorAll('[id^="' + hash + '"]')[0];
				location.href = '#' + link.id;
			}
		});
	</script>
</body>  
</html>
