<!DOCTYPE html>
<!--  notes  -->
<html>  
<head> 
	{% include meta.html %}
	{% include base.html %}
	<style type="text/css">
		.notes pre { font-size: 14px; }
	</style>
</head>
<body>	
	<div id="container" class="outline notes">
		<div id="menu">
			<h3><a href="{{site.url}}{{site.baseurl}}/">{{ site.class }}</a></h3>
			<ul>
				{% if page.week %}<li><a href="{{site.url}}{{site.baseurl}}/schedule.html#week-{{page.week}}">Week {{page.week}}</a></li>{% endif %}
			</ul>
			<p><em>Contents</em></p>
		</div>
		<div id="content">
			<div id="title" class="slide">
				<h1>{{page.title}}</h1>
				{% if page.week %}<p id ="home-links"><a href="{{site.url}}{{site.baseurl}}/">{{site.class}}</a> > <a href="{{site.url}}{{site.baseurl}}/schedule.html#week-{{page.week}}">Week {{page.week}}</a></p>{% endif %}
			</div>
			{{ content }}
		</div>
	</div>
	<script src="{{site.url}}{{site.baseurl}}/slides/menu.js"></script>
</body>  
</html>
