<!doctype html>
<html>
<head>
	{% include meta.html %}
	{% include base.html %}
	{% include slides.html %}
</head>
<body>
	<div id="container" class="outline language-js">
		<div id="menu">
			<h3>{{ site.class }}</h3>
			<ul>
				<li><a href="{{site.url}}{{site.baseurl}}/">Home</a></li>
				<li><a href="{{site.url}}{{site.baseurl}}/schedule.html">Schedule</a></li>
			</ul>
			<h3>{{ page.title }}</h3>
			<ul id ="home-links">
				<li><a href="{{site.url}}{{site.baseurl}}/">{{site.class}}</a>
				> <a href="{{site.url}}{{site.baseurl}}/schedule.html#week-{{page.week}}">Week {{page.week}}</a></li>
			</ul>
			<h3><em>Contents</em></h3>
		</div>
		<div id="content">
			<div id="title" class="slide">
				<h1>{{page.title}}</h1>
				<p id ="home-links"><a href="{{site.url}}{{site.baseurl}}/">{{site.class}}</a> > <a href="{{site.url}}{{site.baseurl}}/schedule.html#week-{{page.week}}">Week {{page.week}}</a></p>
			</div>
			{{ content }}
		</div>
	</div>
	<script src="{{site.url}}{{site.baseurl}}/slides/menu.js"></script>

	<script src="{{site.url}}{{site.baseurl}}/slides/aces/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		const examples = document.getElementsByClassName("ex");
		for (let i = 0; i < examples.length; i++) {
			const ex = examples[i];
			let lang = ex.dataset.lang;
			if (!lang)
				lang = "javascript";
			const edit = ace.edit(ex);
			edit.setTheme('ace/theme/xcode');
			edit.getSession().setMode('ace/mode/' + lang);
			edit.setOption('maxLines', 1000);
			edit.session.setTabSize(4);
			ex.style.height = edit.getSession().getDocument().getLength() *
					edit.renderer.lineHeight + 'px';
    		edit.resize();


		}
		
	</script>

</body>  
</html>  